*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.logo{
    height: 60px;
    width: auto;
    border-radius: 50%;
    
}
.nav{
    display: flex;
    gap: 1em;
    align-content: baseline;
    list-style: none;
    /* background-color: aqua */
}
a{
color: black;
font-size: 20px;
}
.logo-a{
    width: 5px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: aquamarine;
    position: sticky;
    top: 0;
    
}
.footer {
    grid-area: footer;
    margin-top: 20px;
    background-color: aquamarine;
}
.footer ul{
    display: flex;
    gap: 10px;
    list-style: none;
    justify-content: center;
}
.footer-img{
    height: 30px;
    width: auto;
}
#mail{
    border-radius: 50%;
}