.tituloproyectos{
    font-size: 50px;
    font-family: cursive;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgb(4, 119, 119);
}
.proyectos{
    font-size: 30px;
    font-family: cursive;
    margin-left: 400px;
    color: rgb(1, 59, 59);
}
.todos{
    font-size: 30px;
    color: rgb(3, 138, 138);
    font-family: cursive;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.todos2{
    font-size: 25px;
    color: rgb(2, 82, 82);
    font-family: cursive;
    margin-left: 100px;
    margin-right: 100px;
}

    .proyectos:hover{
        background-color: rgb(176, 248, 248);
    }
    .todos:hover{
        background-color: rgb(186, 245, 245);
    }
    
    .tituloproyectos:hover{
        background-color: rgb(199, 243, 243);
    }